* {
  margin: 0;
  font-family: Dongle, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  background-color: #f7dad9;
  border-bottom: solid black 3px;
}

.logo {
  width: 30%;
  margin-top: 0.5rem;
  height: 15%;
}

img {
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 220px;
}

.carousel {
  margin-top: 1rem;
  height: 200px;
}

.hidden {
  display: none;
}

.mobile-nav {
  background-color: #f7dad9;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 3px solid black;
  padding: 1rem;
}

i {
  color: #c15b75;
  width: 100%;
  display: flex;
  line-height: normal;
}

.fa-magnifying-glass {
  align-items: center;
  justify-content: center;
}

.search {
  width: 250px;
  border-radius: 0.5rem;
  border-style: hidden;
  border: none;
  padding: 0.3rem 0;
  font-size: 25px;
  text-decoration: none;
  height: 2rem;
  margin-left: 1rem;
}

.search:hover {
  cursor: pointer;
}

.search:focus {
  outline: none;
}

.search-wrapper {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  background-color: white;
  border: solid 2px black;
  border-radius: 0.5rem;
  align-items: center;
}

.spray-icon {
  background-color: #f7dad9;
  border: 3px solid black;
  position: relative;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}

.card-container {
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  margin: 0 4rem;
  flex-wrap: wrap;
  gap: 30px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: #87bbe1;
  border: 3px solid black;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 0.4rem;
}

.spray-title {
  border-radius: 1rem;
  border: 3px solid black;
  background-color: #fdeaac;
  text-align: center;
  width: 100%;
  align-items: center;
  font-size: 25px;
  margin-top: 1rem;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

body {
  background-image: linear-gradient(white, white, white, #88dbff);
  height: 100%;
  background-size: cover;
  margin: 0;
  background-attachment: fixed;
}

@media only screen and (min-width: 576px) {
  .search-wrapper {
    margin-bottom: 2rem;
  }

  .carousel-wrapper {
    flex-basis: 70%;
  }

  .logo {
    flex-basis: 25%;
  }

  .carousel {
    margin-top: 3rem;
  }

  .card-container {
    margin: 0 9rem;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .carousel-wrapper {
    flex-basis: 70%;
  }

  .logo {
    flex-basis: 20%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .carousel {
    margin-top: 1rem;
  }

  .card-container {
    margin: 0 6rem;
  }

  .card-wrapper {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media only screen and (min-width: 992px) {
  .mobile-nav {
    display: none;
  }

  .carousel-wrapper {
    margin-bottom: 1rem;
    flex-basis: 50%;
    height: 240px;
  }

  .logo {
    flex-basis: 15%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .carousel {
    margin-top: 1rem;
  }

  .card-wrapper {
    flex-basis: calc(100% / 3 - 30px);
  }
}
